﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Portal/MasterPageWithLeftMenu.master" AutoEventWireup="true" CodeFile="test_view_type2_q.aspx.cs" Inherits="test_view_type2_q" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="courses-detail-wrapper col-12">


        <div class="row">
            <asp:Label ID="lbl_center" runat="server"></asp:Label>
      

        </div>


    </div>

</asp:Content>


