﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Portal/MasterPageWithLeftMenu.master" AutoEventWireup="true" trace='true' CodeFile="test_empty.aspx.cs" Inherits="test_empty" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
       <div class="course-syllabus-title underline">
        Blank Page
          
    </div>
    <asp:Label ID="lbl" runat="server"></asp:Label>
    

</asp:Content>


