﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Portal/PortalMasterPage.master" AutoEventWireup="true" CodeFile="fc_end.aspx.cs" Inherits="fc_end" %>


<asp:Content ID="ContentPlaceHolder1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <div class="course-syllabus-title underline" id="abc" tabindex="1">
        Result:
    </div>
    <asp:Label ID="lblErrormsg" runat="server"></asp:Label>
    <asp:Label ID="lblError" runat="server"></asp:Label>
     <div class="row">
           <asp:Label ID="lbl_top1" runat="server" Text=""></asp:Label>
         </div>
   
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="contentbodyscripts" Runat="Server">
    <script>
        $(document).ready(function () {
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, 'lbl_top1']);
    });
    function ApplyMathJax()
        {
         
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, 'lbl_top1'])
    }</script>
</asp:Content>

