﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageWithoutLeftMenu.master.cs" Inherits="Portal_MasterPageWithoutLeftMenu" %>

<%@ Register src="UserControl/UsrHeaderBar.ascx" tagname="UsrHeaderBar" tagprefix="uc1" %>

<%@ Register src="UserControl/UsrFooterBar.ascx" tagname="UsrFooterBar" tagprefix="uc2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Portal/portalassets/css/bootstrap.min.css" />
     <link rel="stylesheet" href="/Portal/portalassets/css/stylesheet.css" />
    <link rel="stylesheet" href="/Portal/portalassets/css/font-awesome.min.css" />
 
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="/Portal/portalassets/css/bootstrap-theme.css" />

    <script src="/Portal/portalassets/js/jquery-1.12.4.js"></script> 
    <script src="/Portal/portalassets/js/jquery-ui-1.12.1.js"></script>
    <script src="/Portal/portalassets/js/bootstrap.min.js"></script>
    <script src="Plugin/gp_Common.js"></script>
   <script type="text/x-mathjax-config">
        MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.2.0";
            MathJax.Hub.Config({
                                 tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
                                  TeX: {extensions: ["[mhchem]/mhchem.js"]}
                                 });
        </script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    
</head>
<body>
    <form id="form1" runat="server">

            <asp:ScriptManager ID="scriptmanager1" runat="server"></asp:ScriptManager>
        <div>

            <uc1:UsrHeaderBar ID="UsrHeaderBar1" runat="server" />

        </div>
        <!-- WRAPPER--><div>
        <div id="wrapper-content">
            <!-- PAGE WRAPPER-->
            <div id="page-wrapper">
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <!-- CONTENT-->
                    <div class="content" style="background: #F4F4F4; overflow: scroll">
                        <div class="container">
                            <div class="col-sm-12">
                                <!-- Right -->
                                <div class="rightcontainer">
                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                               
                                    </asp:ContentPlaceHolder>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <!-- BUTTON BACK TO TOP-->
                <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
            </div>
        </div>
        <!-- </div> --></div>
        <!-- FOOTER-->
        


        <asp:ContentPlaceHolder ID="contentbodyscripts" runat="server">
        </asp:ContentPlaceHolder>
        <div>
            <uc2:UsrFooterBar ID="UsrFooterBar1" runat="server" />
            </div>
    </form>
    
</body>
</html>
