﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Portal/PortalMasterPage.master" AutoEventWireup="true" CodeFile="Practice_Start.aspx.cs" Inherits="Portal_Practice_Start" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <style>
        /*.left-side-bar {
            border: 1px solid black;
        }*/

        /*.left-side-bar {
            border-right:1px solid grey;
            list-style:none;
        }
            .left-side-bar li {
                border-bottom:1px solid grey;
                padding-top:5px;
            }*/
             header {
   
      border:1px solid black;
    }
              
               .abc {
   
      border:1px solid black;
    }

              /*.left-side-bar {
      background-color: #f1f1f1;
      height: 100%;
    }*/

    </style>
    <header class="container-fluid">
    <h2>ACT MATH </h2>
</header>
    



    <div class="row abc ">
        <%--<div class="col-md-12 layout-left">
            <div class="course-syllabus">
                <div class="course-syllabus-title underline">Curriculum</div>
                <div>
                </div>
            </div>
        </div>--%>
     <%--  glyphicon glyphicon-triangle-right--%>
        <div class="col-md-3 abc ">
            <ul class="left-side-bar">
            
                <li class="blue activeleftnav"><a href="#">PreAlgebra</a></li>
          
                    
                <li><a href="#">Elementary Algebra</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>

            </ul>
        </div>
            <div class="col-md-9 abc"></div> 
            </div>
  
    

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contentbodyscripts" runat="Server">
</asp:Content>

