﻿



.nav.nav-tabs a {
text-decoration: none;
}
textarea.latex-editable + a.edit-latex-init {
color: #555;
display: inline-block;
float: left;
font-size: 0.75em;
margin-left: -32px;
margin-top: 5px;
position: relative;
text-decoration: none !important;
text-shadow: 0.1em 0.1em 0.1em #f0f0f0;
z-index: 99;
}

textarea.latex-editable + a.edit-latex-init:hover {
color: #adacac;
}

/*.editor {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border: 1px solid #adacac;
background-color: white;
display: none;
 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-55%, -65%);
width: 664px;
z-index: 90001 !important;
 
}*/

.editor:before, .editor:after {
content: "";
display: table;
}

.editor:after {
clear: both;
}

.editor:after {
content: '';
position: absolute;
right: 0;
bottom: -52px;
height: 52px;
left: 0;
background: url(../images/latex_editor/editor-bg-bottom.png) top left no-repeat;
}




.editor:before {
content: '';
position: absolute;
right: 0;
top: -42px;
height: 42px;
left: 0;
background: url(../images/latex_editor/editor-bg-top.png) bottom left no-repeat;
}

.editor.no-latex {
margin-top: -140px;
min-height: 100px;
}

.editor.no-latex .container section.tools {
display: none;
}

.editor nav {
background-color: #ebebeb;
border-right: 1px solid #ccc;
bottom: 0;
left: 0;
position: absolute;
top: 0;
width: 104px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 10px;
}

.editor nav li {
-moz-transition: background-color 0.15s ease-in-out;
-webkit-transition: background-color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
-moz-transition: color 0.15s ease-in-out;
-webkit-transition: color 0.15s ease-in-out;
transition: color 0.15s ease-in-out;
background-color: #ebebeb;
border-bottom: 1px solid #ccc;
display: block;
padding: 24px 0 22px 16px;
}
ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
.editor nav li:before {
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
-moz-transition: background-color 0.15s ease-in-out;
-webkit-transition: background-color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
background-color: transparent;
content: "";
display: inline-block;
height: 6px;
left: -5px;
position: relative;
width: 6px;
}

.editor nav li.active-subject {
-moz-transition: background-color 0.15s ease-in-out;
-webkit-transition: background-color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
-moz-transition: color 0.15s ease-in-out;
-webkit-transition: color 0.15s ease-in-out;
transition: color 0.15s ease-in-out;
background-color: #fff;
color: #333;
font-weight: bold;
}

.editor nav li:hover {
color: #828282;
}

.editor nav li:hover:before {
-moz-transition: background-color 0.15s ease-in-out;
-webkit-transition: background-color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
background-color: #d2593d;
}

.editor nav li:first-of-type {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.editor nav li.active {
background-color: #fff;
border-right-color: #fff;
margin-right: -1px;
}

.editor .container {

padding: 0px 40px 40px 40px;
width: 538px;
}

.editor .container:before, .editor .container:after {
content: "";
display: table;
}

.editor .container:after {
clear: both;
} 

.editor .container section:after {
clear: both;
} 
.editor .container section.tools {
margin-top: 30px;
}
.latex-close
{
background: #000 none repeat scroll 0 0;
border: 3px solid #fff;
border-radius: 36px;
color: #fff;
cursor: pointer;
display: block;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size: 26px;
font-stretch: normal;
font-style: normal;
font-weight: 900;
height: 36px;
line-height: 1;
position: absolute;
right: 0px;
text-align: center;
top: 0px;
transition: color 0.15s ease-in-out 0s;
width: 36px; z-index:99999;}



.editor .container section.tools:after {
clear: both;
}

.editor .container section.tools a, .editor .container section.tools span {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
-moz-box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.3);
-webkit-box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.3);
box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.3);
-moz-transition: box-shadow 0.075s ease-in-out;
-webkit-transition: box-shadow 0.075s ease-in-out;
transition: box-shadow 0.075s ease-in-out;
opacity: 1;
filter: alpha(opacity=100);
background: #f0f0f0 url(../images/equation-editor-spritesheet.png) no-repeat;
border: 1px solid #adacac;
display: block;
float: left;

margin-bottom: 8px;
margin-right: 8px;
padding: 1px;

font-size: 30px;text-align:center
}
